@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root
{
    --hero-bg: #E9E9E9;
    --color-bg: #F3F3EE;
    --color-text: #222222;
    --btn-border: #DBDBDB;
    --color-primary: #769BE3;
    --color-blueTint: #4A60B0;
    --color-invisible: #222222;
}

.dark-mode
{
    --color-bg: #222222;
    --color-text: #F3F3EE;
    --btn-border: #dbdbdb;
}
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    line-height: 150%;
}

.inner 
{
    --innerWidth: 1920px;
    width: 90%;
    max-width: var(--innerWidth);
    margin: 0 auto;
}

body
{
    background: var(--hero-bg); 
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

header 
{
    --inner-padding : 7.5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 0;
    top: 0;
    width: 100%;
    height: 75px;
    padding: 0 var(--inner-padding);
}

header h4
{
    position: relative;
    font-size: clamp(1rem, 3vw, 1.2rem);
    font-weight: 400;
    color: var(--color-text);
}

header nav
{
    position: relative;
    font-size: clamp(1rem, 3vw, 1.2rem);
    font-weight: 400;
}

nav ul,
nav ul li,
nav ul li a
{
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 4rem;
    color: var(--color-text);
}
.cursor {
    position: fixed;
    left: 0;
    border-radius: 50%;
    pointer-events: none;
}

.cursor 
{
    background: var(--color-invisible);
    top: 0;
    width: 20px;
    height: 20px;
    z-index: 999;
}




.link
{
    position: relative;
    font-size: clamp(1rem, 3vw, 1.2rem);
    font-weight: 400;
    color: var(--color-text);
    text-decoration: none;
    transition: 0.3s;
} 

.link::after
{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: -10%;
    background: var(--btn-border);
    transition: width .3s;
}

.link:hover::after
{
    width: 120%;
    background: var(--color-text);
}

/*
* Intro Section
*/

.intro
{
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-invisible);
    transition: 1s ;
}

.logo-header
{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: 500;
    color: #ffffff;
}

.logo
{
    position: relative;
    display: inline-block;
    bottom: -200px;
    opacity: 0;
}


.logo.active
{
    bottom: 0;
    opacity: 1;

    transition: ease-in-out 0.5s;
}

.logo.fade 
{
    top: 0;
    opacity: 0;
    transition: ease-out all 0.5s;
}

/* 
* Hero Section
*/
.start {
    width: 100%;
    height: 100vh;
    background: var(--hero-bg);
    z-index: -1;
}
.hero 
{
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
}

.indicator svg
{
    position: absolute;
    top: 2%;
    right: 2%;
    fill: var(--color-text);
}

.indicator svg:hover 
{
    transition: .1s all;
    fill: var(--color-primary);
}


.hero-title h1
{
    position: relative;
    font-size: clamp(4rem, 10vw, 6rem);
    font-weight: 600;
    margin-top: 5%;
    color: var(--color-text);
    width: 80%;
    z-index: 2;
    white-space: normal; 
    user-select: none;
    -webkit-user-select: none;
}



.hero-title p
{
    font-weight: 400;
    margin-top: 1rem;
    color: var(--color-text);
    font-size: clamp(1rem, 3vw, 1.2rem);
    width: 50%;
    font-size-adjust: initial;

}
.hero-name
{
    -webkit-text-stroke: 1.5px var(--color-text);
    text-stroke: 1.5px var(--color-text);
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    color: transparent;
    transition: all .5s ease;
    -webkit-font-smoothing: antialiased;
}

.sideline 
{
    padding-left: 1rem;
    padding-right: 5rem;
    position: relative;
    top: 180px;
    left: 0;

    font-size: clamp(.8rem, 3vw, 1.2rem);
    color: var(--color-text);
    writing-mode: vertical-lr;
}

.hero-btns
{
    position: relative;
    margin-top: 3rem;
    display: flex;
    gap: 2rem;
    z-index: 3;
}

.hero-btns a
{
    position: relative;
    font-size: clamp(1rem, 3vw, 1.2rem);
    font-weight: 500;   
    color: var(--color-text);
    border: 1px solid var(--btn-border);
    padding: .5rem 3rem;
    border-radius: 50px;
    text-decoration: none;
    z-index: 1;
}

.hero-btns a::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 50px;
    opacity: 0;
    z-index: -1;
}

.hero-btns a:hover::before
{
    transition: all .5s;
    width: 100%;
    background: var(--color-text);
    opacity: 1;
}

.hero-btns a:not(:hover)::before
{
    width: 0;
    transition: width .5s;
}

.hero-btns a:hover
{
    color: #F3F3EE;
    z-index: 2;
}

