.marquee
{
    rotate: -2deg;
    display: flex;
    height: auto;
    user-select: none;
    gap: 2rem;
    padding-top: 1rem;
}

.marquee:hover
{
    -webkit-text-stroke: 1.5px var(--color-text);
    text-stroke: 1.5px var(--color-text);
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    color: transparent;
    transition: all .5s;
    -webkit-font-smoothing: antialiased;

}

.marquee:not(:hover)
{
    color: var(--color-text);
    transition:  .5s ;
}

.marquee-group
{
  flex-shrink: 0;
  display: block;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  min-width: 100%;
  animation: Scrolling 20s linear infinite;
}


.marquee-group span
{
    font-size: clamp(3rem, 5vw, 10rem);
    font-weight: 500;
    color: var(--color-text);
    text-decoration: none;
}



.marquee2
{
    rotate: 2deg;
    display: flex;
    height: auto;
    user-select: none;
    gap: 2rem;
    padding-top: 1rem;
}

.marquee2:hover
{
    -webkit-text-stroke: 1.5px var(--color-text);
    text-stroke: 1.5px var(--color-text);
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    color: transparent;
    transition: all .5s;
    -webkit-font-smoothing: antialiased;

}

.marquee2:not(:hover)
{
    color: var(--color-text);
    transition:  .5s ;
}

.marquee-group2
{
  flex-shrink: 0;
  display: block;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  min-width: 100%;
  animation: Scrolling2 50s linear infinite;
}


.marquee-group2 span
{
    font-size: clamp(3rem, 5vw, 10rem);
    font-weight: 500;
    color: var(--color-text);
    text-decoration: none;
}




@keyframes Scrolling {
    0%
    {
        transform: translateX(0);
    }
    100%
    {
        transform: translateX(calc(-100% - 2rem));
    }
}

@keyframes Scrolling2 {
    0%
    {
        transform: translateX(-200%);
    }
    100%
    {
        transform: translateX(calc(100% + 2rem));
    }
}