/* 
TODO nav
*/
    
#hero 
{   
    --header-height: 71px;
    position: relative;
    max-width: var(--innerWidth);
}

.nav-section
{
    --innerWidth: 1920px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--innerWidth);
    width: 90%;
    margin: 0 auto;
    height: var(--header-height);
    text-transform: uppercase;
}

nav ul,
nav ul li,
nav ul li a
{
    position: relative;
    display: flex;
    list-style: none;
    text-decoration: none;
    font-size: var(--text-header);
    color: var(--color-text);
    padding: 1rem;
    gap: 20px;
    z-index: 31;
}

.hero-name
{
    padding: 20px;
    color: var(--color-text);
    font-size: var(--text-header);
    font-weight: 600;
    /* cursor: pointer; */
}

.hero-name:hover
{
    color: var(--color-primary);
    transition: 0.3s;
}

.hero-name:not(:hover)
{
    color: var(--color-text);
    transition: 0.3s;
}

@media screen and (max-width: 1330px)
{
    .nav-section
    {
        display: none;
    }

}

@media screen and (max-width: 800px)
{
    body
    {
        cursor: default;
    }
    .nav-section
    {
        display: none;
    }

    .side-text
    {
        padding: none;
        margin: none;
        left: 0;
    }

    .cursor
    {
        display: none;
    }
    
    .indicator svg
    {
        width: 15px;
        height: 15px;
        top: 10%;
    }
    .hero-text p
    {
        color: var(--color-text);
    };
}
    