.sub-head
{
    color: var(--color-primary);
}

#about 
{
    position: relative;
    height: auto;
    width: 85%;
    max-width: 1920px;
    margin: clamp(4rem, 10vw, 10rem) auto;
    /* padding-bottom: clamp(30px,6vw,100px); */
}

.about h2
{
    position: relative;
    display: flex;
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: 500;
    color: var(--color-text);
    pointer-events: none;
    line-height: normal;
    align-items: center;
    padding-bottom:clamp(1rem, 3vw, 2rem);
}

.side-text
{
    position: absolute;
    top: 30%;
    right: 0;
    transform: translateY(-50%);
    font-family: var(--font-family2);
    font-size: clamp(1rem, 3vw, 1.2rem);
    writing-mode: vertical-rl;
}

.about p
{
    position: relative;
    display: flex;
    color: var(--color-text);
}

 .reveal-type 
{
    width: 70%;
    font-size: clamp(1.3rem, 3vw, 2rem);
    line-height: 200%;
    color: var(--color-text);
}

.read-more
{
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-text);
    font-family: var(--font-family2);
    font-size: clamp(1rem, 3vw, 1.2rem);
    color: var(--color-text);   
    background: none;
    padding: 2px clamp(1rem, 3vw, 2rem);;
    margin-top: clamp(1.5rem, 3vw, 1rem);
    cursor: pointer;
    text-decoration: none;
    transition: all .3s;
    z-index: 2;
}

.read-more:hover{
    color: var(--color-bg);
}

.read-more::after
{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background: var(--color-text);
    transition: all .3s;
    z-index: -1;
}

.read-more:hover::after
{
    height: 100%;
}

.read-more:not(:hover)::after
{
    position: absolute;
    content: '';
    bottom: 100%;
}


.basic-text
{
    width: 78%;
    font-size: clamp(1rem, 3vw, 1.5rem);
    line-height: 200%;
    color: var(--color-text);
    padding:  clamp(1rem, 3vw, 2rem) 0 ;
    margin: clamp(1rem, 3vw, 3rem) 0;
}
.video-container
{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

video
{
    width: 100%;
    height: 100%;
    max-height: 800px;
    grid-column: span 3;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.656);
}

.about-btns
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: clamp(3rem, 5vw, 5rem);
}

.upper-container
{
    position: relative;
    width: clamp(100px, 20vw, 180px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: clamp(100px, 20vw, 180px);
}

.upper-container
{
    border-radius: 50%;
}
.upper-container i
{
    transform: rotate(-45deg);
}

.upper-container::after,
.upper-container::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid var(--color-text);
    border-radius: 50%;
}
.upper-container::after
{
    animation: Morph 5s linear infinite;
}
.upper-container::before
{
    animation: Morph 4s linear infinite;
    animation-delay: 1s;
}

.upper-container:hover::after,
.upper-container:hover::before {
    border-radius: 50%;
    opacity: 0;
    transition: border-radius 1s ease-in-out, opacity 1s ease-in-out;
}

.upper-container:hover{
    opacity: 1;
    border: 1px solid var(--color-text);
    transition: border-radius 1s ease-in-out, opacity 1s ease-in-out;
    transition: all 1s ease-in;
}

.upper-container:not(hover)
{
    border: none;
    opacity: 1;
    transition: border 1s ease-out;
}

.upper-container:not(hover)::after,
.upper-container:not(hover)::before
{
    opacity: 1;
    transition: border-radius 1s ease-in-out, opacity 1s ease-in-out;
}

.circle {
    position: relative;
    width: clamp(100px, 20vw, 250px);
    height: clamp(100px, 20vw, 250px);
    border-radius: 50%;
    overflow: hidden; /* Ensure the background doesn't overflow */
}

.circle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../svg/Group.svg) no-repeat;
    background-size: cover;
    animation: rotate 10s linear infinite;
    z-index: -1; /* Place the background behind the content */
}

.circle:hover::before {
    animation-play-state: paused;
}


.arrow
{
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1rem, 3vw, 2rem);
    transform: rotate(-45deg);
}
.circle a
{
    text-decoration: none;
    color: var(--color-text);
}

/*
* Projects
*/

#projects
{
    position: relative;
    height: auto;
    width: 100%;
    margin: clamp(4rem, 10vw, 10rem) auto;
}

#projects h2
{
    max-width: 1920px;
    width: 85%;
    margin: 0 auto;
    position: relative;
    display: flex;
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: 500;
    color: var(--color-text);
    pointer-events: none;
    line-height: normal;
    align-items: center;
    margin-bottom: clamp(100px, 5vw, 200px);
}

.sub-head
{
    width: 85%;
    max-width: 1920px;
    margin: 0 auto;
}

.objects 
{
    position: relative;
    display: grid;
}




.projects
{
    position: relative;
    width: 100%;
    display: flex;
}

.hidden-image
{
    position: absolute;
    left: 30%;
    scale: 0;
}

.projects:nth-child(odd) .hidden-image
{
    transform: rotate(-4deg);
}
.projects:nth-child(even) .hidden-image
{
    transform: rotate(4deg);
}

.project-text:hover > .hidden-image
{
    transition: 1s;
    scale: 1;
}


.project-text:not(:hover) > .hidden-image
{
    transition: 1s;
    scale: 0;
}

.project-text{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    color: var(--color-text);
    border-bottom: 2px solid var(--color-text);
    padding: clamp(45px, 3vw, 80px) 0;
    text-decoration: none;
}

.projects:first-child .project-text {
    border-top: 2px solid var(--color-text);
}

.project-text p{
    font-size: clamp(.8rem, 3vw, 3rem);
    margin-left: 20px;
}

.project-text span{
    font-size: clamp(.6rem, 3vw, .8rem);
    position: absolute;
    top: 0;
    margin-left: -20px;
}

.gallery{
    width: 100%;
    margin: 0 auto;
    max-height: 100vh;
    height: 1080px;
    overflow: hidden;
    padding-bottom: 300px;
}

.gallery-header
{
    position: relative;
    margin-top: clamp(100px, 5vw, 200px);
}
.gallery-header h2
{
    color: var(--color-text) !important;
    position: relative;
    font-size: clamp(2rem, 5vw, 3rem) !important;
}

.gallery-container {
    white-space: nowrap;
    left: 2%;
    cursor: grab;
    box-sizing: border-box ;
    position: absolute;
}

.gallery-group {
    display: inline-block;
    position: relative;
    vertical-align: baseline;
}

.gallery-item
{
    display: inline-block;
}

.gallery-item img
{
    width: 50vmin;
    max-width: 500px;
    height: 70vh;
    max-height: 700px;
    object-fit: cover;
    object-position:100% 0%;
    user-select: none;
    filter: grayscale(.8);
}
.gallery-item img:hover
{
    filter: grayscale(0);
    transition: all .3s;
}

.gallery-item img:not(:hover)
{
    transition: all .3s;
    filter: grayscale(.8);
}

#stack {
    min-height: 80vh;
    position: relative;
    width: 85%;
    max-width: 1920px;
    margin: clamp(4rem, 5vw, 10rem) auto;
}

#stack h2
{
    color: var(--color-text);
    position: relative;
    font-weight: 500;
    font-size: clamp(2rem, 5vw, 4rem) !important;
}

.stack-container
{
    position: relative;
    width: 100%;
    max-height: 100vh;
    display: inline-block;
  
}

.stack-container p
{
    display: flex;
  justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-text);
    font-size: clamp(5rem, 10vw, 16rem);
    font-family: var(--font-family2);
    margin: 0 !important;
    padding: 0 !important;
    line-height: 130%;
}
.stack-container p:nth-child(4),
.stack-container p:nth-child(6)
{
    transform: translateX(14%);
}
.stack-container p:nth-child(odd)
{
    transform: translateX(-15%);
}
.stack-container p:hover
{
    stroke: var(--color-text);
    color: white;
    transition: all .3s;
    -webkit-text-stroke: 2px var(--color-text);
}

.stack-container p:not(:hover)
{
    transition: all .3s;
    -webkit-text-stroke: 2px var(--color-text);
}

#contact {
    position: relative;
    width: 85%;
    max-width: 1920px;
    margin: clamp(4rem, 5vw, 10rem) auto;
    display: flex;
    height: 900px;
    max-height: 100vh;
    flex-direction: column;
}

#contact h1 {
    color: var(--color-text);
    position: relative;
    font-weight: 500;
    font-size: clamp(2rem, 5vw, 6rem) !important;
}

.contact-form {
    position: relative;
}


.contact-form form
{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    width: 85%;
    /* margin: 0 auto; */
    height: 100%;
}

.entry-area
{
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 10%;
}

input{
    position: relative;
    font-size: clamp(2rem, 3vw, 3.5rem);
    border: none;
    background: transparent;
    border-bottom: 2px solid var(--btn-border);
    line-height: 80px;
    height: 50px;
    z-index: 222;
    transition: .1s ease;
}

.label-line
{
    position: absolute;
    top: -6px;
    padding: 0 25px;
    margin: 0 20px;
    font-size: clamp(1.5rem, 3vw, 3rem); 
    color: var(--btn-border);
    transition: .2s ease;
    pointer-events: none;
    z-index: 1;
}

/* .entry-area input:focus,
.entry-area input:valid,
.entry-area input:not(:placeholder-shown) {
    color: var(--color-text);
    transition: all .3s;
} */

.entry-area input.has-text + .label-line {
    color: var(--color-text);
    transition: all .3s;
    height: 30px;
    font-size: clamp(1rem, 3vw, 1.2rem);
    transform: translate(-15px, -30px);
}

.entry-area textarea:focus + .label-line2,
.entry-area textarea:valid + .label-line2 {
    color: var(--color-text);
    transition: all .3s;
    height: 30px;
    font-size: clamp(1rem, 3vw, 1.2rem);
    transform: translate(-15px, -30px);
}


.contact-form input:focus
{
    border-bottom:2px solid var(--color-text);
    transition: all .3s;
}
.contact-form textarea:focus
{
    border :2px solid var(--color-text);
    transition: border .3s;
}

.contact-form input,
.contact-form textarea
{
    
    margin : 0 30px;
    width: 100%;
    transition: .3s ease ;
}

textarea {
    transition: .3s ease;
    height: 150px;
    font-size: clamp(1.2rem, 3vw, 1.4rem);
}

.contact-form input:focus,
.contact-form textarea:focus
{
    outline: none
}

.entry-message
{
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 200px;
}

.label-line2
{
    position: absolute;
    padding: 0 25px;
    margin: 0 20px;
    font-size: clamp(1.2rem, 3vw, 1.3rem);
    transition: .3 ease ;
    top: 0;
    color: var(--btn-border);
}

.entry-message{
    color: var(--btn-border);
    transition: .2s ease;
    height: 30px;
}

.submit-container
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    display: flex;
    align-items: center;
    margin-bottom: 200px;
}
.submit-btn
{
    position: absolute;
    right: 0;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: clamp(11rem, 15vw, 20rem);
    height: clamp(3rem, 5vw, 4rem);
    font-size: clamp(1rem, 3vw, 1.4rem);
    font-family: var(--font-family2);
    background: var(--color-text);
    color: var(--color-bg);
    border: none;
    z-index: 2;
}

.submit-btn:hover
{
    color: var(--color-text);
    transition: all .3s;
    border: 1px solid var(--color-text);
}

.submit-btn::after
{
    content: '';
    position: absolute;
    width: 100%;
    height: 0%;
    background: white;
    z-index: -1;
    transition: height .3s;
}

.submit-btn:hover::after
{
    height: 100%;
}

@keyframes rotate
{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}


@keyframes Morph {
    0% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
      border-radius: 50%;
    }
    75% {
      border-radius: 40% 70% 40% 90%/50% 60% 40% 60%;
    }
    100% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
  }