@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Rosarivo:ital@0;1&display=swap');

:root
{
    --color-bg: #E9E9E9;
    --color-text: #222222;
    --btn-border: #cccccc;
    --color-primary: #6B576A;
    --color-Tint: #636363;
    --color-invisible: #00102f;
    --text-header: clamp(1rem, 3vw, 1.2rem);
    --font-family1: 'Poppins', sans-serif;
    --font-family2: 'Rosarivo', serif;
}

.dark-mode
{
    --color-bg: #222222;
    --color-text: #F3F3EE;
    --btn-border: #dbdbdb;
}
*
{
    margin: 0;
    padding: 0;
    
}

::-moz-selection { /* Code for Firefox */
    color: var(--color-bg);
    background: var(--color-invisible);
    mix-blend-mode: difference;
  }
  
  ::selection {
    color: var(--color-bg);
    background: var(--color-invisible);
    mix-blend-mode: difference;
  }

* , ::before, ::after
{
    box-sizing: inherit;
}
html
{
    height: auto;
}

html.lenis {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }

.block
{
    margin-top: clamp(20px,10vw,3rem);
    margin-bottom: clamp(20px,10vw,50px);
}


body
{
    font-weight: 300;
    color: var(--color-text);
    text-rendering: optimizeLegibility;
    font-family: var(--font-family1);
    overflow-x: hidden;
    width: 100%;
    margin: 0 auto;
}

header, nav, section 
{
    display: block;
}

strong 
{
    font-weight: bold;
}


#trailer
{
    height: 20px;
    width: 20px;
    background: var(--color-text);
    border-radius: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease ;
}

#trailer[data-type="link"],
#trailer[data-type="view"],
#trailer[data-type="video"]
{
    background: var(--color-invisible);
    mix-blend-mode: difference;
}

body:hover > #trailer
{
    opacity: 1;
}

#trailer:not([data-type=""]) > #trailer-icon
{
    opacity: 1;
}

#trailer > #trailer-icon {
     position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex; 
    justify-content: center;
     align-items: center;
    font-size: 6px;
    transition: opacity 400ms ease;
    color: #D9D9D9;
    opacity: 0;
}


#trailer[data-type="video"] > #trailer-icon,
#trailer[data-type="view"] > #trailer-icon
{
    opacity: 1;
}



/* 
TODO nav
*/
.header-wrapper
{
    background: var(--color-bg);
    display: flex;
    justify-content: center;
    max-height: 100vh;
    height: 1300px
}
#hero-content
{
    max-width: 1920px;
    position: relative;
    height: 100%;
}

.hero-text h1
{
    position: relative;
    display: flex;
    font-size: clamp(6rem, 13vw, 18rem);
    justify-content: center;
    font-weight: 500;
    color: var(--color-text);
    pointer-events: none;
    text-transform: uppercase;
    line-height: normal;
    /* width: 85vmax; */
}

.hero-text p 
{
    position: relative;
    display: flex;
    margin: 2rem auto;
    font-size: clamp(1.5rem, 4vw, 4rem);  
    width: 100%;
    scale: 1.00;
    color: var(--color-text);
}

.hero-container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    width: 85vmax;
    margin: 0 auto;
    flex-direction: column;
}
