.hero-marquee {
    display: flex;
    overflow-x: hidden;

    max-width: 1920px;
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    position: relative;
    bottom: 1rem;
    white-space: nowrap;
    overflow: hidden; 
}

strong {
    font-weight: lighter;
    font-size: clamp(1.5rem, 4vw, 2rem);
}

.hero-marquee div {
    font-style: bold;
    display: flex;
    position: relative;
    font-size: clamp(1.5rem, 4vw, 2rem);
    line-height: 200%;
    color: var(--btn-border);
    animation: marquee 15000ms linear infinite; /* Adjust the animation duration */
    color: var(--color-text);
}

.hero-marquee:hover div {
    animation-play-state: paused;
}


.hero-marquee div a
{
    display: flex;
    font-size: bold;
}


.marquee-link
{
    color: var(--color-text);
    font-weight: 600;
}

.marquee-link:hover
{
    color: var(--color-text);
    transition: all 0.5s;
}


@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100%)); /* Adjust the percentage based on the number of content duplicates */
    }
}
