/*
* social Navigation
*/

.nav-container
{
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    z-index: 8;
    width: 90%;
    max-width: 1920px;
    margin: clamp(1rem, 3vw, 2rem) auto;
    transition: all .5s;
    font-size: clamp(1rem, 3vw, 1.2rem);
}

nav
{
    display: flex;
    align-items: center;
    gap: clamp(1rem, 3vw, 2rem);
    mix-blend-mode: difference;
}

nav a,
.nav-container a
{
    color: var(--color-text);
    text-decoration: none;
    position: relative;
    border-bottom: 2px solid var(--btn-border);
    transition: all .3s;
}

nav a:hover,
.nav-container a:hover
{
    color: var(--btn-border);
}

nav a::after,
.nav-container a::after
{
    display: block;
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: var(--color-text);
    transition: width .3s;
}

nav a:hover::after,
.nav-container a:hover::after
{
    width: 100%;
}


/* 
nav
*/
main
{
    height: 100vh;
    width: 100%;
    margin: 0px;
    position: relative;
    z-index: 3;
}

#nav2
{
    height: 0vh;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2;
    background: var(--color-text);
    transition: all .5s;
}

body[data-nav-toggle='true'] > #nav2
{
    transition: height .5s;
    height: 50vh;
    z-index: 4;
}

#nav-toggle
{
    height: 5rem;
    width: 5rem;
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);;
    background-color: var(--color-text);
    border: none;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 2rem rgba(0, 0, 0 / 35%);
    cursor: pointer;
    transition: transform background-color height;
    transition-timing-function: ease;
    transition-duration: 400ms;
}

#nav-toggle:hover
{
    transform: translate(-50%, -50%) scale(1.04);
}

#nav-toggle:active
{
    transform: translate(-50%, -50%) scale(0.96);
}

#nav-toggle span
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--color-bg);
    width: 2rem;
    height: 1.25px;
    opacity: .2;
    transition: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 400ms;
}
#nav-toggle span::after
{
    content: '';
    position: absolute;
    background: var(--color-bg);
    transform: translate(-50%, -50%) rotate(90deg);
    width: 2rem;
    /* opacity: .2; */
    height: 1.25px;
}

body:not([data-nav-toggle="true"]) #nav-toggle:hover span{
    opacity: 1;
    transition: 0.3s;
    transform: translate(-50%, -50%) scale(1);
}

body[data-nav-toggle="true"] #nav-toggle span {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1) rotate(135deg);
}


body[data-nav-toggle="true"]> #nav2 > #nav-links {
    transform: translateY(0) scale(1);
}

main
{
    transition: transform 500ms cubic-bezier(.13, .53, .38, .97);
}

#nav-links > .nav-link {
    text-decoration: none;
}
#nav-links > .nav-link > .nav-link-label
{
    color: white;
    font-size: 1.2rem;
    margin: 0;
    text-decoration: uppercase;
}

#nav-links > .nav-link > .nav-link-image
{
    width: max(20vw, 400px);
    aspect-ratio: 1.8 / 1;
    border-radius: .5rem;
    margin-top: .75rem;
    object-fit: cover;
}

@media screen and (max-width: 1330px)
{
    
    #hero-content
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }

    .hero-text h1
    {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .side-text
    {
        display: none;
    }

    #about
    {
        width: 100%;
    }

    .reveal-type,
    .basic-text
    {
        width: 100% !important;
    }

    .video-container
    {
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr !important;
    }
    .about-btns
    {
        display: flex;
        padding-top: clamp(1rem, 3vw, 2rem);
        flex-direction: row !important;
    }

}

@media screen and (max-width: 800px)
{
    body
    {
        cursor: default;
    }

    .hero-text p
    {
        color: var(--color-text);
    };
}
    