/*
* social Navigation
*/

.nav-container
{
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    z-index: 8;
    width: 90%;
    max-width: 1920px;
    margin: clamp(1rem, 3vw, 2rem) auto;
    transition: all .5s;
    font-size: clamp(1rem, 3vw, 1.2rem);
}

nav
{
    display: flex;
    align-items: center;
    gap: clamp(1rem, 3vw, 2rem);
    mix-blend-mode: difference;
}

nav a,
.nav-container a
{
    color: var(--color-text);
    text-decoration: none;
    position: relative;
    border-bottom: 2px solid var(--btn-border);
    transition: all .3s;
}

nav a:hover,
.nav-container a:hover
{
    color: var(--btn-border);
}

nav a::after,
.nav-container a::after
{
    display: block;
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: var(--color-text);
    transition: width .3s;
}

nav a:hover::after,
.nav-container a:hover::after
{
    width: 100%;
}


/* 
nav
*/
main
{
    height: 100vh;
    width: 100%;
    margin: 0px;
    position: relative;
    z-index: 3;
}

#nav2
{
    height: 100%;
    width: 100%;
    position: fixed;
    top: -120%;
    z-index: 3;
    background: black;
    transition: all .5s;
}

#nav-links 
{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-link
{
    position: relative;
    display: flex;
    border-bottom: 1px solid var(--color-text);
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: clamp(4rem, 5vw, 8rem);
    transition: all .3s;
    font-weight: 500;
    opacity: .3;
}

.nav-link:first-child
{
    border-top: 1px solid var(--color-text);
}

.nav-link::after
{
    content: '';
    position: absolute;
    width: 100%;
    height: 0%;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(183, 185, 178, 0.796) 100%);
    transition: all .5s;
    z-index: -1;
}

.nav-link:hover::after
{
    height: 100%;
}

.nav-link:hover
{
    opacity: 1;
}

#nav-toggle
{
    height: 5rem;
    width: 5rem;
    position: fixed;
    z-index: 5;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);;
    background-color: var(--color-text);
    border: none;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 2rem rgba(0, 0, 0 / 35%);
    cursor: pointer;
    transition: transform background-color height;
    transition-timing-function: ease;
    transition-duration: 400ms;
}

#nav-toggle:hover
{
    transform: translate(-50%, -50%) scale(1.04);
}

#nav-toggle:active
{
    transform: translate(-50%, -50%) scale(0.96);
}

#nav-toggle span
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--color-bg);
    width: 2rem;
    height: 1.25px;
    opacity: .2;
    transition: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 400ms;
}
#nav-toggle span::after
{
    content: '';
    position: absolute;
    background: var(--color-bg);
    transform: translate(-50%, -50%) rotate(65deg);
    width: 2rem;
    /* opacity: .2; */
    height: 1.25px;
}

#nav-toggle span::before
{
    content: '';
    position: absolute;
    background: var(--color-bg);
    transform: translate(-50%, -50%) rotate(-65deg);
    width: 2rem;
    height: 1.25px;
}
#nav-toggle:hover span
{
    transform: translate(-50%, -50%) rotate(90deg);
}



body[data-nav-toggle="false"] #nav2
{
    top: 0;
    opacity: 1;
}

@media screen and (max-width: 1330px)
{
    body
    {
        overflow-x: hidden;
    }
    #trailer
    {
        display: none;
    }
    #hero-content
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }

    .hero-text h1
    {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .side-text
    {
        display: none;
    }

    #about
    {
        width: 100%;
    }
    .stack-container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .stack-container p:nth-child(4),
.stack-container p:nth-child(6)
{
    transform: translateX(0) !important;
}
.stack-container p:nth-child(odd)
{
    transform: translateX(0) !important;
}

    .reveal-type,
    .basic-text
    {
        width: 100% !important;
    }

    .video-container
    {
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr !important;
    }
    .about-btns
    {
        display: flex;
        padding-top: clamp(1rem, 3vw, 2rem);
        flex-direction: row !important;
        border: none !important;
    }

}

@media screen and (max-width: 800px)
{
    body
    {
        cursor: default;
    }

    .hero-text p
    {
        color: var(--color-text);
    };
}
    